<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>tl</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <!-- 打包之后的样式 -->
        <link rel="stylesheet" href="./<%= projectName %>/theme/default-pc.css" />
    </head>
    <body>
        <!-- 打包之后的组件 JS -->
        <script src="./<%= projectName %>/<%= projectName %>.js"></script>

        <!-- 示例 JS -->
        <script src="./example.js"></script>
    </body>
</html>
